<div class="border border-secondary rounded w-20 pt-3">
    <div class="px-5 py-2">
        <h1>Edit the User</h1>

        <%= render "form", user: @user %>

        <p><%= link_to 'Users', root_path %></p>
    </div>

</div>