<article class="p-3 d-flex justify-content-center">
    <div>
        <% @events.each do |event| %>
            <div class="border border-secondary rounded p-4 mb-3">
                <p> <strong>Description:</strong> <%= link_to event.description, event %> </p>
                <p> <strong>Starts at:</strong> <%= event.date %> </p>
            </div>
        <% end %>
    </div>
</article>