<article>
    <ul>
        <li> <strong>Creator of the Event:</strong> <%= current_user.name %> </li>
        <li> <strong>Event Description:</strong> <%= @event.description %> </li>
        <li> <strong>Event Start Date:</strong> <%= @event.date %> </li>
    </ul>
</article>
